body{
    height: 1000px;
}

.container-fluid{
    background-color: #4A235A;
    height: 100%;
    color: white;
}

#slogan{
    font-size: 20px;
}

header{
    background-color: #0B5345;
    width: 100%;
}

#form-structure{
    margin: 20px;
}

tr, td, th{
    text-align: center;
}

th{
    background-color: #000000;
}

.sub-header{
    background-color: #333333;
}
